.bigButton{
    padding: 30px;
    padding-left: 130px;
    padding-right: 130px;
    background-color: #f90083;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 50px;
}